@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker-Regular.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-LightItalic.woff') format('woff');
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  h1 {
    @apply text-2xl md:text-3xl xl:text-4xl font-display;
  }
  h2 {
    @apply text-xl md:text-2xl xl:text-3xl font-display;
  }
  p,
  a {
    @apply text-lg;
  }
}

@layer components {
  .active-link {
    @apply border-2 border-gold-500 font-medium underline rounded-sm;
  }
  .nav-link {
    @apply text-light p-2 lg:p-4 mx-2 border-2 border-transparent hover:active-link hover:ease-in-out duration-300;
  }
  .btn {
    @apply font-semibold p-2 lg:p-4  bg-gold-500 hover:bg-gold-700 hover:underline hover:ease-in-out duration-300 rounded-sm;
  }
  .content {
    @apply pt-12 lg:px-20;
  }
}
